@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PaysTracker</h1>
    <a asp-controller="Pays" asp-action="Index">Cliquez ici pour voir la liste des Pays.</a><br />
    <a asp-controller="Regimes" asp-action="Index">Cliquez ici pour voir la liste des régimes.</a>
</div>
